$light-gray: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$golden-yellow: hsl(48, 92%, 60%);
$font-day-color: hsl(0, 0%, 24%);
$midnight-navy: hsl(208, 41%, 8%);
$midnight-steel: hsl(208, 25%, 12%);

$slate-gray: hsl(207, 7%, 67%);
$i-html5: hsl(33, 81%, 58%);
$i-bootstrap: hsl(231, 86%, 54%);
$i-sass: hsl(309, 77%, 83%);
$i-js: hsl(50, 86%, 54%);
$i-java: hsl(0, 100%, 50%);